---

---

<div
	class="prose prose-slate m-0
    max-w-fit bg-white dark:prose-invert
    <!-- -->
    prose-h1:text-3xl prose-h1:font-black
    <!-- Work experience -->
    prose-h2:mb-3 prose-h2:mt-8 prose-h2:text-sm
    prose-h2:uppercase prose-h2:text-slate-500
    <!-- Company name -->
    prose-h3:mb-3 prose-h3:mt-8 prose-h3:text-xl prose-h3:uppercase
    <!-- Job title -->
    prose-h4:mb-3 prose-h4:mt-4 prose-h4:text-sm
    prose-h4:font-bold prose-h4:text-slate-700 prose-h4:dark:text-slate-400
    <!-- -->
    prose-p:my-2 prose-p:text-sm prose-p:leading-6
    prose-a:font-bold prose-a:no-underline prose-a:transition-colors
    hover:prose-a:text-slate-400
    <!-- -->
    prose-ul:m-0
    prose-li:text-sm
    dark:bg-slate-800
    lg:max-w-4xl"
>
	<slot />
</div>
