---
import ExperienceCard from '../components/ExperienceCard.astro'
import PageHeader from '../components/PageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<PageHeader
		headline="I've worked at a variety of small to medium sized tech companies. I've done consumer facing and b2b."
		subheadline="I've been fortunate to work at a variety of small to medium sized tech companies, which I have found to be ideal environments for learning within an established engineering culture. As a self-taught engineer, I have had the good fortune to work with some amazing people along the way."
	/>

	<div class="mt-16 sm:mt-20">
		<div class="space-y-20">
			<section
				class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40"
			>
				<div
					class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4"
				>
					<h2 class="text-sm font-semibold text-zinc-800 dark:text-zinc-100">
						Professional Experience
					</h2>
					<div class="md:col-span-3">
						<div class="space-y-16">
							<ExperienceCard
								dates="Jun 2023 - July 2024"
								title="Kontango 路 Lead Engineer"
								description="Led the development of a commodity trader intelligence platform, implemented ISO-27001 compliance, and built a modern web application stack of Go, HTMX, and Templ."
								website="https://kontango.com"
							/>
							<ExperienceCard
								dates="November 2021 - July 2023"
								title="Sodality Technologies 路 Lead Engineer"
								description="Worked as the lead backend & devops engineer at a location-based social app that encourages spontaneous, real-life interactions."
								website="https://pingapp.nyc"
							/>
							<ExperienceCard
								dates="December 2017 - November 2021"
								title="Freshly 路 Senior Software Engineer"
								description="High-volume meal delivery service e-commerce platform. Built with Ruby on Rails and React. I worked on the web team, iOS team, and the DevOps team."
								website="https://freshly.com"
							/>
							<ExperienceCard
								dates="May 2013 - December 2017"
								title="Verve Mobile 路 Software Engineer"
								description="Ad-tech platforms built in Ruby on Rails and React. I leveled up from a QA-engineer to a full stack engineer on the core services team."
								website="https://vervemobile.com"
							/>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</Layout>
