---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<main>
		<div class="container hero">
			<h1 class="page__title">Freelance Software Engineer</h1>
			<div class="page__text_container">
				<p class="page__text">
					I am an experienced independent consultant and freelance software
					engineer. I run a small software consultancy that helps companies
					build and scale their products.
				</p>
				<p class="page__text">
					I provide anything from independent contributions to filling a
					fractional CTO role. I can help you go from 0 to 1 as a technical
					co-founder.
				</p>

				<p class="page__text">
					I've worked at the founding level and can work with non-technical
					founders to get your product off the ground. I can embed into a team
					of engineers to help you scale your product. I do operations,
					automation, and data engineering. I've been building software
					professionally since 2012. I've helped early-stage startups scale
					their products to millions of users.
				</p>
			</div>
			<div class="hero__skills">
				<!-- Icons would be inserted here with <img> tags or as inline SVGs -->
			</div>
		</div>
	</main>
</Layout>
