---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="container hero">
      <h1 class="hero__title">Freelance Software Engineer</h1>
      <div class="hero__text_container">
        <p class="hero__text">
          I help companies translate their business needs into the right
          software solutions. By gaining a deep understanding of short term
          goals and long term strategic needs, I build products that do what you
          need today while setting you up for success in the future.
        </p>
        <p class="hero__text">
          I specialize in building web applications with React, Node.js, and
          TypeScript. I also have experience with Python, Ruby, and Java.
        </p>

        <p class="hero__text">
          I've worked at the founding level and can work with non-technical
          founders to get your product off the ground. I can embed into a team
          of engineers to help you scale your product. I do operations,
          automation, and data engineering.
        </p>
      </div>
      <div class="hero__skills">
        <!-- Icons would be inserted here with <img> tags or as inline SVGs -->
      </div>
    </div>
  </main>
</Layout>
