---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="container">
    <h1 class="page__title">Where I've worked</h1>

    <div class="content">
      <section>
        <h2 class="page__subtitle">Sodality Technologies</h2>
        <p class="page__text">
          I worked as a founding engineer on a new social app.
        </p>
      </section>

      <section>
        <h2 class="page__subtitle">Freshly</h2>
        <p class="page__text">
          I wore many hats during my time at Freshly. I started as a full stack
          developer, did a brief engineer-in-residence stint on the iOS team,
          then founded the DevOps team, where I spent the remainder of my time.
        </p>
      </section>

      <section>
        <h2 class="page__subtitle">Verve Mobile</h2>
        <p class="page__text">
          Verve was my first job as a professional software engineer. I started
          as a QA engineer, where I built several automation tools to aid the
          manual QA efforts. Shortly after, I was drafted to the core product
          engineering team doing full-stack development with Rails.
        </p>
      </section>
    </div>
  </main>
</Layout>
