---
import PageHeader from '../components/PageHeader.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<PageHeader
		headline="Some recent projects I've worked on"
		subheadline="I like to build things. Typically I build small hyper-specific utilities for myself. I also build transit-related apps and websites."
	/>

	<div class="mt-16 sm:mt-20">
		<ul
			class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3"
		>
			<ProjectCard
				title="BetterBike"
				description="BetterBike is the quickest way to answer 'where are the closest electric CitiBikes to me right now'. "
				image=""
				url="https://web.betterbike.app"
			/>
			<ProjectCard
				title="Budgeted"
				description="Budgeted is a net worth tracker more than a budget-builder. It has two purposes: to give an overview of your net worth and to help determine your personal burn rate."
				image=""
				url="https://github.com/politicker/budgeted"
			/>
			<ProjectCard
				title="mt"
				description="mt is the simplest meditation timer on the market. No subscription, no content, no socials. Just a simple meditation timer that also tracks sessions over time."
				image=""
				url="https://github.com/Hbbb/meditation-timer"
			/>
			<ProjectCard
				title="Keep McGuinness Moving"
				description="An undercover transit-advocacy project to try and sway opponents of a safer McGuinness Blvd."
				image=""
				url="https://keepmcguinnessmoving.com"
			/>
			<ProjectCard
				title="Lifts"
				description="An art project website to track/publish weightlifting data. Mostly was a way for me to play around with a new stack (Go, HTMX) and d3."
				image=""
				url="https://lifts.hborg.org"
			/>
		</ul>
	</div>
</Layout>
