---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<main class="container">
		<div class="page__header">
			<h1 class="page__title">What I'm working on</h1>
			<p class="page__text">
				These are a selection of projects I'm currently working on. Check out my
				GitHub to see other things I've built. Most of my projects are open
				source.
			</p>
		</div>

		<div class="content">
			<section>
				<a
					class="project__title"
					href="https://github.com/politicker/betterbike-ios"
					target="_blank"
				>
					<h2 class="page__subtitle">Budgeted</h2>
				</a>
				<p class="page__text">
					I'm very interested in data ownership for sensitive or insightful data
					such as health, personal notes, and finances. Budgeted started as a
					data archival project that normalized and stored financial data in
					CSVs. Shortly after, we built an electron app on top of the files to
					visualize and interact with the data in a more user-friendly way. In
					the process, we developed an interesting electron template that, for
					example, wraps the electron IPC bridge with TRPC.
				</p>

				<!-- Technologies -->
				<div class="project__technologies">
					<div class="project__technology">Electron</div>
					<div class="project__technology">Go</div>
					<div class="project__technology">React</div>
					<div class="project__technology">SQLite</div>
				</div>
			</section>
			<section>
				<a
					class="project__title"
					href="https://github.com/pump-factory/accountability-bot"
					target="_blank"
				>
					<h2 class="page__subtitle">Habit tracking Telegram bot</h2>
				</a>
				<p class="page__text">
					A Telegram bot that users can add to a chat room and begin tracking
					habits socially. My friends and I built this to help us keep each
					other accountable and involved in each other's lives, through the lens
					of building habits.
				</p>

				<!-- Technologies -->
				<div class="project__technologies">
					<div class="project__technology">Node.JS</div>
					<div class="project__technology">TypeScript</div>
					<div class="project__technology">Docker</div>
				</div>
			</section>

			<section>
				<a
					class="project__title"
					href="https://github.com/hbbb/meditation-timer"
					target="_blank"
				>
					<h2 class="page__subtitle">Meditation Timer</h2>
				</a>
				<p class="page__text">
					A simple, elegantly designed meditation timer without the bloat of a
					subscription model. I built this to help me meditate more regularly. I
					was annoyed by the lack of a simple meditation timer that didn't
					require a subscription. Moreso, most of the meditation apps available
					have complex UIs that require too much interaction to start a timer.
				</p>

				<!-- Technologies -->
				<div class="project__technologies">
					<div class="project__technology">iOS</div>
				</div>
			</section>

			<section>
				<a
					class="project__title"
					href="https://github.com/politicker/betterbike-ios"
					target="_blank"
				>
					<h2 class="page__subtitle">Better Bike</h2>
				</a>
				<p class="page__text">
					As a New York City resident and avid Citibike user, I was frustrated
					by the UX of the official Citibike app. I realized most of the time
					when I use the Citibike app, I want to know which stations close to me
					have electric bikes available, and how many there are. I built
					BetterBike to solve exactly that problem.
				</p>

				<!-- Technologies -->
				<div class="project__technologies">
					<div class="project__technology">iOS</div>
					<div class="project__technology">Go</div>
					<div class="project__technology">Postgres</div>
					<div class="project__technology">Fly.io</div>
				</div>
			</section>
		</div>
	</main>
</Layout>
