---
interface Props {
	title: string
	href: string
}

const currentURL = new URL(Astro.request.url)

const { title, href } = Astro.props
---

<li>
	<a
		href={href}
		class="relative block px-3 py-2 transition hover:text-blue-500 dark:hover:text-blue-400"
	>
		{title}
		<span
			class="absolute inset-x-1 -bottom-px h-px bg-gradient-to-r from-teal-500/0 via-blue-500/40 to-teal-500/0 dark:from-teal-400/0 dark:via-blue-400/40 dark:to-teal-400/0"
			class:list={{
				hidden: currentURL.pathname !== href,
			}}></span>
	</a>
</li>
