---
// interface Props {
//   title: string;
// }

// const { title } = Astro.props;

import Navbar from '../components/Navbar.astro'
import PageBackground from '../components/PageBackground.astro'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Senior Freelance Software Engineer" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Harrison Borges</title>
	</head>
	<body class="flex flex-col h-full bg-zinc-50 dark:bg-black">
		<PageBackground />

		<div class="relative flex w-full flex-col p-6">
			<Navbar />
			<main class="flex-auto">
				<div class="sm:px-8 mt-16 sm:mt-32">
					<div class="mx-auto w-full max-w-7xl lg:px-8">
						<div class="relative px-4 sm:px-8 lg:px-12">
							<div class="mx-auto max-w-2xl lg:max-w-5xl">
								<slot />
							</div>
						</div>
					</div>
				</div>
			</main>
			<Footer />
		</div>

		<!-- <footer class="icons__social__container">
			<ul class="icons__social">
				<li class="icons__social__item" title="Github">
					<a target="_blank" href="https://github.com/hbbb">
						<img src="/images/github.svg" alt="" />
					</a>
				</li>
				<li class="icons__social__item" title="Linkedin">
					<a
						href="https://www.linkedin.com/in/harrison-borges/"
						target="_blank"
					>
						<img src="/images/linkedin.svg" alt="" />
					</a>
				</li>
			</ul>
		</footer> -->
	</body>
</html>
<style is:global></style>
